html,
body,
#app,
main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #0e0e0e;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
