@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

html,
body,
#app,
main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 5px;
}

@media (min-width: 2500px) {
  html {
    font-size: 6.5px;
  }
}

body {
  background-color: #0e0e0e;
  background-image: url(../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login y registro */

.logo {
  background-image: url('../assets/logo-fitlog.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.mockupApp {
  background-image: url('../assets/mockup-app.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 5%;
  height: 100%;
  width: 35%;
}

.descargaPlay {
  background-image: url('../assets/descarga-google-play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 30%;
}

.descargaApple {
  background-image: url('../assets/descarga-apple-store.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 30%;
}

.descargaApple,
.descargaPlay:hover {
  cursor: pointer;
}

.iconoIzquierda {
  position: absolute;
  left: 1.2em;
  color: #d7d7d7;
  font-size: 3em;
  pointer-events: none;
}

.publicidadContenedor {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 90%;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  text-align: center;
}

.contenedorImagenDescripcion {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contenedorDescripcion {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.contenedorDescargas {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 20%;
  justify-content: center;
  column-gap: 3%;
  align-items: center;
}

.contenedorLoginRegistro {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  row-gap: 5%;
  align-items: center;
}

.contenedorLogo {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 45%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.contenedorOpciones {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 5%;
  color: white;
  justify-content: center;
  font-size: 6em;
  font-weight: 600;
  column-gap: 5%;
}

.opcionSeleccionada {
  color: #ff5733;
  text-underline-offset: calc(1vh);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
}

.contenedorCampos {
  height: 60%;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5%;
}

.input-group {
  position: relative;
  width: 100%;
  min-height: 10%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 1.7em;
  border: solid #ff58339d 0.1em;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding-left: 3em;
  padding-right: 1em;
  outline: none;
}

.input::placeholder {
  color: #d7d7d7;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
}
