@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

html,
body,
#app,
main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 5px;
}

@media (min-width: 2500px) {
  html {
    font-size: 6.5px;
  }
}

body {
  background-color: #0e0e0e;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login y registro */

.logo {
  background-image: url('../assets/logo-fitlog.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.mockupApp {
  background-image: url('../assets/mockup-app.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 5.5%;
  height: 120%;
  width: 35%;
}

.descargaPlay {
  background-image: url('../assets/descarga-google-play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 30%;
}

.descargaApple {
  background-image: url('../assets/descarga-apple-store.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 30%;
}

.descargaApple,
.descargaPlay:hover {
  cursor: pointer;
}

.iconoIzquierda {
  position: absolute;
  left: 3rem;
  color: #d7d7d7;
  font-size: 3.5rem;
  pointer-events: none;
}

.publicidadContenedor {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 90%;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
}

.contenedorImagenDescripcion {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contenedorDescripcion {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.contenedorDescargas {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 20%;
  justify-content: center;
  column-gap: 3%;
  align-items: center;
}

.contenedorLoginRegistro {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  row-gap: 5%;
  align-items: center;
}

.contenedorLogo {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 45%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.contenedorOpciones {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 5%;
  color: white;
  justify-content: center;
  font-size: 5.5rem;
  font-weight: 600;
  column-gap: 5%;
}

.opcionSeleccionada {
  color: #ff5733;
  text-underline-offset: calc(1vh);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
}

.contenedorCampos {
  height: 60%;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5%;
}

.input-group {
  position: relative;
  width: 100%;
  min-height: 10%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  border: solid #ff58339d 0.1rem;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding-left: 8rem;
  outline: none;
  font-size: 3.5rem;
}

.input::placeholder {
  color: #d7d7d7;
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
}

/* Contenedores generales */
.menuLateral {
  border-right: solid 0.7rem rgba(255, 255, 255, 0.07);
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedorPrincipal {
  width: 95%;
  height: 100%;
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  row-gap: 5%;
}

.contenedorOpcionesLateral {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10%;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 30%;;
  row-gap: 7rem;
}

.opcionLateral {
  font-size: 8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
